bin/
services/frontend/.svelte-kit
services/frontend/node_modules
services/backend/src/assets/frontend
services/backend/src/helper/xdomea/xdomea-v3.0.0/definition
!services/backend/src/assets/frontend/.gitkeep

.DS_Store
*.tgz
results.html

.input
.secrets
node_modules
.env.safety-copy
.env
**/*_realtestdata.*

tmp/

LICENSE
!services/backend/src/helper/license
internal